body {
  display: flex;
  justify-content: center;
  background-color: #f1f1f1;
}

.mainBlock {
  padding-bottom: 50px;
  width: 1200px;
}

.navCointainer {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.navCointainer img {
  width: 170px;
  padding: 10px;
}

.navCointainer > nav {
  background-color: rgb(26 52 65);
  color: white;
  display: flex;
}

.navCointainer a {
  margin: 20px;
  color: white;
  text-decoration: none;
}

.navCointainer a:hover{
  color: rgb(0 216 255);
}

.headerImg {
  display: flex;
  background-color: rgb(174 196 59);
  height: 400px;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 20px;
}

.aboutBlock {
  display: flex;
  margin-top: 20px;
}

.aboutBlock > div {
  background-color: white;
  padding: 20px;
}

.aboutBlock > div:nth-child(1), .aboutBlock > div:nth-child(2) {
  margin-right: 10px;
}

.contentBlock {
  display: flex;
  background-color: white;
  margin-top: 20px;
}

.mainContent {
  display: flex;
  flex-direction: column;
  padding: 20px;
  flex: 2;
}

.sideNav {
  display: flex;
  flex-direction: column;
  padding: 20px;
  flex: 1;
}

.menuLinks{
  background-color: rgb(236 236 236);
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menuLinks a {
  color: black;
  text-decoration: none;
}

.menuLinks a:hover {
  color: rgb(0 216 255);
}
