.navBarCointainer {
    display: flex;
    background-color: black;
    height: 60px;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
}

.navBarCointainer li {
    list-style: none;
}

.navBarCointainer a {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    margin: 10px;
}

.navBarCointainer a:hover {
    color: rgb(80, 80, 241);
}